@charset "uft-8";

:root {
    --point-color: #02469E;
    --black_background_font-color: #ffffff;
    --main_font-color: #111111;
}

/* 포인트, 메인, 타이틀, 설명글 지정color  */
body {
    line-height: 1.5;
    color: #323232, ;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.inner {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 1.5rem;
}