#sec1 .sec1_img {
    position: relative;
}

#sec1 img {
    width: 100%;
    max-height: 600px;
    height: auto;
    object-fit: cover;
    filter: brightness(0.2);
}

#sec1 p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--black_background_font-color);
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

/* about */
#sec2 {
    padding: 100px 20px;
}

#sec2 .inner {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

#sec2 .inner .intro_right .inrto_top {
    color: var(--point-color);
    font-weight: 500;
}

#sec2 .inner .intro_left p {
    color: var(--point-color);
    font-weight: 600;
    font-size: 1.8rem;
    padding-bottom: 10px;
}


#sec2 .inner img {
    width: 100%;
    max-width: 650px;
}

#sec2 .inner .intro_right h1 {
    font-size: 4rem;
    color: var(--point-color);
    padding-bottom: 30px;
}

#sec2 .inner .intro_right p {
    padding-bottom: 15px;
}

#sec2 .inner .intro_right p:nth-of-type(5) {
    padding-top: 100px;
    text-align: right;
}

#sec2 .inner .intro_right span {
    font-size: 2rem;
    padding-left: 5px;
    font-weight: 600;
}

@media (max-width:1400px) {
    #sec2 .inner img {
        max-width: 500px;
    }

    #sec2 .inner .intro_right h1 {
        font-size: 2rem;
    }

    #sec2 .inner .intro_right h1 {
        font-size: 3.5rem;
    }
}

@media (max-width:1200px) {
    #sec2 .inner {
        gap: 50px;
    }

    #sec2 .inner img {
        max-width: 400px;
        width: 100%;
    }

    #sec2 .inner .intro_right .intro_bottom {
        font-size: 1.4rem;
    }

    #sec2 .inner .intro_right p:nth-of-type(5) {
        padding-top: 30px;
    }
}


@media (max-width:769px) {

    #sec1 p {
        font-size: 2.4rem;
        top: 50%
    }

    #sec2 .inner {
        flex-wrap: wrap;
    }

    #sec2 .inner img {
        max-width: 760px;
        width: 100%;
    }

    #sec2 .inner .intro_right .intro_bottom {
        font-size: 1.4rem;
    }

    #sec2 .inner .intro_right p:nth-of-type(5) {
        padding-top: 30px;
    }
}

@media (max-width:769px) {
    #sec2 .inner .intro_right h1 {
        font-size: 2rem;
    }
}