:root {
    --point-color: #02469E;
    --black_background_font-color: #ffffff;
    --main_font-color: #111111;
}

/* 포인트, 메인, 타이틀, 설명글 지정color  */
body {
    line-height: 1.5;
    color: #323232, ;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background: #F3F3F3;
    font-size: 1.5rem;
}

.inner {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 1.5rem;
}

#header {
    background: #fff;
    width: 100%;
    height: 100px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);

}

#header .inner {
    color: var(--main_font-color);
    position: relative;

}


#header .inner .hedaer_meun {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#header .inner nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 40px auto;
    padding: 0 20px;
    z-index: 1;
    width: 100%;
}

#header .inner nav .logo {
    font-size: 2rem;
    font-weight: 700;
}

#header .inner nav .gnb {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    font-weight: 500;
}

#header .inner nav .gnb>li {
    transition: all 0.5s;
    border-bottom: 1px solid transparent;
    /* 볼더 넣을지 말지 고민 */
}

#header .inner nav .gnb>li:hover {
    color: var(--point-color);
    border-bottom: var(--point-color) solid 1px;
}


/* 서브 탭 */
#header .inner .gnb li>.depth2 {
    position: absolute;
    display: block;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: start;
    width: 100px;
    top: 4vh;
    margin-left: -10px;
    opacity: 0;
    transition: all 0.5s ease;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
}

#header .inner .gnb>li:hover .depth2 {
    opacity: 1;
}

#header .depth2 li {
    padding-top: 10px;
}

#header .depth2 li a {
    color: #111;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
}

#header .depth2 li:hover a {
    color: var(--point-color);
    border-bottom: var(--point-color) solid 1px;
}

/* sec1 */

#sec .sec1_img {
    position: relative;
}

#sec1 img {
    filter: brightness(0.2);
}

#sec1 .sec1_text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: var(--black_background_font-color);
}

#sec1 .sec1_text h1 {
    font-size: 5rem;
    line-height: 1;
}

#sec1 .sec1_text>p {
    font-size: 4rem;
}

#sec1 .sec1_text .sec1_list {
    padding-top: 30px;
    display: flex;
    gap: 30px;
}

#sec1 .sec1_text .sec1_list p {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 8px 25px;
    transition: all 0.5s ease;
}

#sec1 .sec1_text .sec1_list p:hover {
    background: #fff;
    color: var(--point-color);
}

#sec2 {
    height: 100px;
    width: 1920px;
}

#sec2 .tab-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
    font-size: 18px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
}

#sec2 .tab-container.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #f2f2f2;
}

#sec2 .tabs {
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
    background: #f2f2f2;
    transition: all .3s;
}

#sec2 .tabs:hover {
    padding: 10px 30px
}

#sec2 .tabs.on {
    color: #fff;
    background: var(--point-color)
}

#sec3 {
    padding-top: 50px;
}


#sec3 .tab {
    display: none
}

#sec3 .tab.on {
    display: block
}

#sec3 .inner .tab .tab_con {
    display: flex;
    align-items: flex-start;
    gap: 200px;
    position: relative;
}

#sec3 .inner .tab .tab_con .year dl dt {
    color: var(--point-color);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 100px 0 2px;
    position: relative;
}

#sec3 .inner .tab .tab_con .year dl dt::before {
    content: "";
    border-bottom: 2px solid #02469E;
    position: absolute;
    width: 100%;
    bottom: 3.5vh
}

#sec3 .inner .tab .tab_con .year dl dd {
    line-height: 2.2;
}

.tab_img_wrap {
    position: sticky;
    top: 100px;
    flex-shrink: 0;
    width: 500px;
    height: auto;
}

.tab_img {
    width: 100%;
    height: 680px;
    display: block;
    object-fit: cover;
    padding-top: 100px;
}

#footer {
    background: #000;
    color: var(--black_background_font-color);
    margin-top: 15vh;
    position: relative;
    z-index: 3;
}

#footer .inner {
    padding: 50px 0;
    text-align: center;
}