@charset "uft-8";

:root {
    --point-color: #02469E;
    --black_background_font-color: #ffffff;
    --main_font-color: #111111;
}

/* 포인트, 메인, 타이틀, 설명글 지정color  */
body {
    line-height: 1.5;
    color: #323232, ;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.inner {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 1.5rem;
}

/* header */
#header .inner {
    color: #ffffff;
    position: relative;

}

#header .inner .hedaer_meun {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#header .inner nav {
    position: absolute;
    margin: 40px auto;
    padding: 0 20px;
    z-index: 5;
    width: 100%;
}

#header .inner nav .gnb {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    font-weight: 500;
}

#header .inner nav .gnb>li {
    transition: all 0.5s;
}

#header .inner nav .gnb>li>a {
    padding: 20px;
}

#header .inner nav .gnb>li:hover {
    color: #3f8ff8;
}

/* 서브 탭 */
#header .inner .gnb li>.depth2 {
    position: absolute;
    display: block;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: start;
    width: 100px;
    top: 3vh;
    margin-left: 5px;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;
}

#header .inner .gnb>li:hover .depth2 {
    opacity: 1;
    visibility: visible;
}

#header .depth2 li {
    padding-top: 10px;
}

#header .depth2 li a {
    color: #111;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
}

#header .depth2 li:hover a {
    color: var(--point-color);
    border-bottom: var(--point-color) solid 1px;
}

/* 우측 */
#header .inner .rghbar {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    top: 6vh;
    padding-right: 20px;
    z-index: 1;
}

#header .inner .rghbar .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header .inner .rghbar .txt1,
#header .inner .rghbar .txt2,
#header .inner .rghbar .scrl_txt {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}


#header .inner .rghbar .txt1 {
    font-weight: 200;
}

#header .inner .rghbar .txt2 {
    font-size: 2rem;
    padding-top: 20px;
}

#header .inner .rghbar .scrl_txt {
    transform: translateY(50vh);
    font-size: 1.2rem;
}

#header .inner .rghbar .scrl_bar .bg {
    position: absolute;
    top: 8.6vh;
    right: 8px;
    bottom: 0;
    width: 2px;
    height: 90%;
    background: rgba(255, 255, 255, 0.2);
}

#header .inner .rghbar .scrl_bar .ln {
    position: absolute;
    top: 8.6vh;
    right: 8px;
    width: 2px;
    background: rgba(255, 255, 255, 1);
    animation: scr_anime 2.0s infinite;
}

@keyframes scr_anime {
    0% {
        height: 0;
        top: 8.6vh;
    }

    55% {
        height: 0;
        top: 8.6vh;
        animation-timing-function: ease-in;
    }

    75% {
        height: 100%;
        top: 8.6vh;
    }

    80% {
        height: 100%;
        top: 8.6vh;
    }

    100% {
        height: 0;
        ;
        top: 15.7vh;
        animation-timing-function: ease-out;
    }
}

#header .inner nav .ham {
    z-index: 10;
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;
    font-size: 0;
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
}

#header .inner nav .ham::after {
    content: "";
    position: absolute;
    left: -15px;
    top: 5px;
    display: block;
    width: 90%;
    height: 2px;
    background: #fff;
    transition: all 0.2s;
}

#header .inner nav .ham::before {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 14px;
    display: block;
    width: 90%;
    height: 2px;
    background: #fff;
    transition: all 0.2s;
}

#header .inner nav .ham span {
    position: absolute;
    left: -15px;
    bottom: 6px;
    display: block;
    width: 90%;
    height: 2px;
    background: #fff;
    transition: all 0.2s;
}

#header .ham.active::after {
    transform: translate(0, 4.5px) rotate(45deg);
    background-color: var(--main-color);
}

#header .ham.active::before {
    transform: translate(0, -4.5px) rotate(-45deg);
    background-color: var(--main-color);
}

#header .ham.active span {
    opacity: 0;
}


.mgnb {
    padding: 100px 0;
    position: fixed;
    width: 50%;
    height: 100vh;
    background: #000;
    z-index: 3;
    left: -20px;
    top: 0;
    color: var(--black_background_font-color);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.mgnb.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible
}

.mgnb ul {
    padding: 90px 0;
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.mgnb.active ul {
    opacity: 1;
    transform: translateY(0);
}

.mgnb li {
    text-align: center;
    font-size: 2rem;
    padding: 20px 0;
    transition: all 0.5s;
    cursor: pointer;
}

.mgnb li dl {
    text-align: center;
}

.mgnb li dl dd {
    font-size: 1.5rem;
    padding-top: 10px;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
}


.mgnb li dl dd:hover {
    color: var(--point-color);
}

#footer {
    margin-top: 100px;
    background: #000;
    color: var(--black_background_font-color);
}

#footer .inner {
    padding: 50px 0;
    text-align: center;

}

@media(max-width:1024px) {
    #header .inner nav .gnb {
        display: none;
    }

    #header .inner nav .ham {
        display: block;
        transform: unset;
    }
}

@media(max-width:769px) {

    #footer .inner {
        font-size: 1.2rem;
        flex-wrap: wrap;
    }
}


@media(max-width:480px) {
    #header .inner nav {
        padding: 0 20px 0 0;
    }

    #header .inner nav .ham {
        width: 9%;
    }

    .mgnb {
        width: 30%;
    }

    #footer .inner {
        font-size: 1.2rem;
        flex-wrap: wrap;
        padding: 30px;
    }

}