#sec1 {
    padding-top: 150px;
    max-width: 1920px;
}

#sec1 .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sec1 .inner h1 {
    color: var(--point-color);
    font-size: 4rem;
}

#sec1 .sec1_img {
    padding-top: 30px;
}

#sec1 img {
    width: 100%;
    height: 530px;
    object-fit: cover;
}

#sec2 {
    padding: 100px 0;
    position: relative;
}


#sec2 h2 {
    padding-bottom: 20px;
}

#sec2 .inner::after {
    content: "";
    position: absolute;
    max-width: 1720px;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #000;
}

#sec3 {
    padding: 30px;
}

#sec3 .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#sec3 .sec3_img {
    max-width: 650px;
}

#sec3 .sec3_img img {
    width: 100%;
    height: 770px;
    object-fit: cover;
}

.showImg {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    opacity: 1;
    /* 투명도는 고정 */
    animation-fill-mode: forwards;
}

.showImg.in-view {
    animation: showImgAnim 1.5s ease forwards;
}

@keyframes showImgAnim {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    100% {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
}