#sec1 {
    padding-top: 150px;
    max-width: 1920px;
}

#sec1 .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sec1 .inner h1 #sec1::before {
    content: "";
    position: absolute;
    border-top: 1px solid #02469E;
    width: 100%;
    left: 20px;
    bottom: -10vh;
}

#sec2 {
    position: relative;
    padding-top: 50px;
}

#sec2 .sec2_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sec2 .sec2_box .sec2_text {
    width: calc((100% - 100px) / 2);
}

.swiper {
    margin-left: 0 !important;
    max-width: 750px;
    height: 700px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sec2 .sex2_text_box .sec2_year dl {
    padding-bottom: 50px;
    display: flex;
    gap: 40px;
    position: relative;
}

#sec2 .sex2_text_box .sec2_year dl::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: -4vh;
    border-left: 1px solid #02469E;
}

#sec2 .sex2_text_box .sec2_year dl dt {
    position: relative;
    width: 100px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--point-color);
}

#sec2 .sex2_text_box .sec2_year dt::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    background: #02469E;
    border-radius: 50px;
    left: -4.6vh;
    top: 1vh;
}

#sec2 .sex2_text_box .sec2_year dl:nth-last-child(1) {
    padding-bottom: 0;
}


@media (max-width:1680px) {
    #sec2 .sec2_box .sec2_text {
        width: calc((100% - 300px) / 2);
    }

    .swiper {
        max-width: 650px;
        height: 600px;
    }
}

@media (max-width:1180px) {
    .swiper {
        margin-left: 0 !important;
        max-width: 550px;
        height: 400px;
    }
}

@media (max-width:900px) {

    #sec1 {
        padding-top: 120px
    }

    #sec2 {
        padding-top: 20px;
    }

    #sec2 .sec2_box {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .swiper {
        margin-left: auto !important;
    }

    #sec2 .sec2_box .sec2_text {
        width: 100%;
        padding-left: 5vh;
    }

    #sec2 .sex2_text_box .sec2_year dt {
        width: 100%;
    }

    #sec2 .sex2_text_box .sec2_year dl {
        align-items: flex-start;
        padding-left: 30px;

    }


    #sec2 .sex2_text_box .sec2_year dl::before,
    #sec2 .sex2_text_box .sec2_year dt::before {
        display: none;
    }
}

@media (max-width:600px) {
    #sec2 .sec2_box .sec2_text {
        padding-left: 0;
    }

    #sec2 .sex2_text_box .sec2_year dl {
        padding-left: 0
    }

    #sec2 .sex2_text_box .sec2_year dl dd {
        width: 80%;
    }

}

@media (max-width:500px) {
    #sec2 .sex2_text_box .sec2_year dl {
        gap: 10px;
    }

}