@charset "uft-8";

:root {
    --point-color: #02469E;
    --black_background_font-color: #ffffff;
    --main_font-color: #111111;
}

/* 포인트, 메인, 타이틀, 설명글 지정color  */
body {
    line-height: 1.5;
    color: #323232, ;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.inner {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 1.5rem;
}

/* header */
#header .inner {
    color: #ffffff;
    position: relative;

}

#header .inner .hedaer_meun {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#header .inner nav {
    position: absolute;
    margin: 40px auto;
    padding: 0 20px;
    z-index: 5;
    width: 100%;
}

#header .inner nav .gnb {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    font-weight: 500;
    cursor: pointer;
}

#header .inner nav .gnb>li {
    transition: all 0.5s;


}

#header .inner nav .gnb>li:hover {
    color: #3f8ff8;
}

/* 서브 탭 */
#header .inner .gnb li>.depth2 {
    position: absolute;
    display: block;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: start;
    width: 100px;
    margin-left: -10px;
    opacity: 0;
    transition: all 0.5s ease;
}

#header .inner .gnb>li:hover .depth2 {
    opacity: 1;
}

#header .depth2 li {
    padding-top: 10px;
}

#header .depth2 li a {
    color: #111;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
}

#header .depth2 li:hover a {
    color: var(--point-color);
    border-bottom: var(--point-color) solid 1px;
}

/* 우측 */
#header .inner .rghbar {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    top: 6vh;
    padding-right: 20px;
    z-index: 1;
}

#header .inner .rghbar .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header .inner .rghbar .txt1,
#header .inner .rghbar .txt2,
#header .inner .rghbar .scrl_txt {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}


#header .inner .rghbar .txt1 {
    font-weight: 200;
}

#header .inner .rghbar .txt2 {
    font-size: 2rem;
    padding-top: 20px;
}

#header .inner .rghbar .scrl_txt {
    transform: translateY(50vh);
    font-size: 1.2rem;
}

#header .inner .rghbar .scrl_bar .bg {
    position: absolute;
    top: 8.6vh;
    right: 8px;
    bottom: 0;
    width: 2px;
    height: 90%;
    background: rgba(255, 255, 255, 0.2);
}

#header .inner .rghbar .scrl_bar .ln {
    position: absolute;
    top: 8.6vh;
    right: 8px;
    width: 2px;
    background: rgba(255, 255, 255, 1);
    animation: scr_anime 2.0s infinite;
}

@keyframes scr_anime {
    0% {
        height: 0;
        top: 8.6vh;
    }

    55% {
        height: 0;
        top: 8.6vh;
        animation-timing-function: ease-in;
    }

    75% {
        height: 100%;
        top: 8.6vh;
    }

    80% {
        height: 100%;
        top: 8.6vh;
    }

    100% {
        height: 0;
        ;
        top: 15.7vh;
        animation-timing-function: ease-out;
    }
}

#header .inner nav .ham {
    z-index: 10;
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;
    font-size: 0;
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
}

#header .inner nav .ham::after {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    width: 90%;
    height: 2px;
    background: #fff;
    transition: all 0.2s;
}

#header .inner nav .ham::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 14px;
    display: block;
    width: 90%;
    height: 2px;
    background: #fff;
    transition: all 0.2s;
}

#header .inner nav .ham span {
    position: absolute;
    left: 0;
    bottom: 6px;
    display: block;
    width: 90%;
    height: 2px;
    background: #fff;
    transition: all 0.2s;
}

#header .ham.active::after {
    transform: translate(0, 4.5px) rotate(45deg);
    background-color: var(--main-color);
}

#header .ham.active::before {
    transform: translate(0, -4.5px) rotate(-45deg);
    background-color: var(--main-color);
}

#header .ham.active span {
    opacity: 0;
}


.mgnb {
    padding: 100px 20px;
    position: fixed;
    width: 40%;
    height: 100%;
    background: #fff;
    z-index: 3;
    left: 0;
    top: 0;
    color: var(--main_font-color);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.mgnb.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible
}

.mgnb ul {
    padding: 90px 0;
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.mgnb.active ul {
    opacity: 1;
    transform: translateY(0);
}

.mgnb li {
    text-align: center;
    font-size: 2rem;
    padding: 20px 0;
    transition: all 0.5s;
    cursor: pointer;
}

.mgnb li dl {
    text-align: center;
}

.mgnb li dl dd {
    font-size: 1.5rem;
    padding-top: 10px;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
}


.mgnb li dl dd:hover {
    color: var(--point-color);
}


#sec1 {
    position: relative;
    height: 200vh
}

#sec1 .sec1_img {
    position: fixed;
    width: 100%;
    max-height: 100vh;
    padding: 0;
    z-index: 0;
    display: none;
}

#sec1 video {
    width: 100%;
    height: auto;
    filter: brightness(0.4);
    object-fit: cover;
}



#sec1 .inner ul {
    color: #ffffff;
    position: absolute;
    top: 60vh;
    z-index: 1;
}

#sec1 .inner ul li:nth-child(1) {
    font-size: 3rem;
}

#sec1 .inner ul li:nth-child(2) {
    font-size: 2rem;
    font-weight: 200;
}

#sec1 .inner .button {
    position: absolute;
    z-index: 1;
    border: solid 1px #ffffff;
    top: 80vh;
    color: var(--black_background_font-color);
    padding: 10px 30px;
    border-radius: 20px;
    transition: all 0.5s;
}

#sec1 .inner .button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 22px;
    height: 11px;
    background: url(../img/main_icon/Arrow\ 1.png) no-repeat center / contain;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.5s;
}

#sec1 .inner .button:hover {
    padding-right: 60px;
    background-color: #ffffff;
    color: var(--main_font-color);
}

#sec1 .inner .button:hover::after {
    opacity: 1;
}

/* sec2 */

#sec2 {
    color: var(--black_background_font-color);
    position: relative;
}


#sec2 .inner {
    position: relative;
    color: var(--black_background_font-color);
    z-index: 1;
}

#sec2 .sec2_text {
    position: absolute;
    top: -60vh;
    left: 40%;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;
}

#sec2 .sec2_text h1 {
    font-size: 5rem;
    font-weight: 30rem;
    font-weight: 600;
    line-height: 1
}

#sec2 .sec2_text h2 {
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 20px;
}

#sec2 .sec2_text dl dd:nth-of-type(2) {
    font-size: 2rem;
    font-weight: 200;
}

/* sec3 */

#sec3 {
    color: var(--black_background_font-color);
    position: relative;
}

.sec3_img,
.sec4_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.3);
    transform-origin: center center;
    pointer-events: none;
}

.sec3_img_wrap,
.sec4_img_wrap {
    width: 100%;
    height: 100vh;
    max-height: 900px;
    overflow: hidden;
    position: relative;
}

#sec3 .inner .drum .sec_text,
#sec4 .inner .sowd .sec_text {
    position: absolute;
    text-align: end;
    font-size: 2rem;
    z-index: 1;
    top: 10vh;
}

#sec3 .inner .drum .sec_text2 {
    position: absolute;
    display: flex;
    align-items: end;
    z-index: 1;
    bottom: 12vh;
    max-width: 1720px;
    width: 100%;
}

#sec4 .inner .sowd .sec_text2 {
    position: absolute;
    display: flex;
    align-items: end;
    z-index: 1;
    bottom: 30vh;
    max-width: 1720px;
    width: 100%;
}

#sec3 .inner .drum .sec_text2 h2,
#sec4 .inner .sowd .sec_text2 h2 {
    font-size: 4rem;
    padding-bottom: 5px;
}

#sec3 .inner .drum .sec_text2 p,
#sec4 .inner .sowd .sec_text2 p {
    font-size: 1.8rem;
}

#sec3 .inner .button,
#sec4 .inner .button {
    position: absolute;
    z-index: 5;
    border: solid 1px #ffffff;
    color: var(--black_background_font-color);
    padding: 10px 30px;
    border-radius: 20px;
    right: 0;
    transition: all 0.5s;
}

#sec3 .inner .button::after,
#sec4 .inner .button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 22px;
    height: 11px;
    background: url(../img/main_icon/Arrow\ 1.png) no-repeat center / contain;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.5s;
}

#sec3 .inner .button:hover,
#sec4 .inner .button:hover {
    padding-right: 60px;
    background-color: #ffffff;
    color: var(--main_font-color);
}

#sec3 .inner .button:hover::after,
#sec4 .inner .button:hover::after {
    opacity: 1;
}

#sec4 {
    color: var(--black_background_font-color);
    height: 1080px;
    position: relative;
}

#footer {
    background: #000;
    color: var(--black_background_font-color);
}

#footer .inner {
    padding: 50px 0;
    text-align: center;

}


@media (max-width:1750px) {
    #header .inner .rghbar {
        padding-right: 30px;
    }
}

@media(max-width:1024px) {
    #header .inner nav .gnb {
        display: none;
    }

    #header .inner nav .ham {
        display: block;
        transform: unset;
    }

    #sec1 video {
        display: none;
    }

    #sec1 .sec1_img {
        display: block;
        position: fixed;
        width: 1100px;
        max-height: 100vh;
        padding: 0;
        z-index: 0;
    }

    #sec1 img {
        width: 100%;
        object-fit: cover;
    }


}

@media (max-width:500px) {}