@charset "uft-8";

body {
    background-color: #000;
}

#sec1 {

    position: relative;
    height: 200vh
}

#sec1 .sec1_video,
#sec1 .sec1_img {
    position: fixed;
    width: 100%;
    max-height: 100vh;
    padding: 0;
    z-index: 0;
}

#sec1 video,
#sec1 img {
    width: 100%;
    height: auto;
    filter: brightness(0.4);
    object-fit: cover;
}

#sec1 .sec1_img {
    display: none;
}



#sec1 .inner ul {
    color: #ffffff;
    position: absolute;
    top: 60vh;
    z-index: 1;
}

#sec1 .inner ul li:nth-child(1) {
    font-size: 3rem;
}

#sec1 .inner ul li:nth-child(2) {
    font-size: 2rem;
    font-weight: 200;
}

#sec1 .inner .button {
    position: absolute;
    z-index: 1;
    border: solid 1px #ffffff;
    top: 80vh;
    color: var(--black_background_font-color);
    padding: 10px 30px;
    border-radius: 20px;
    transition: all 0.5s;
}

#sec1 .inner .button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 22px;
    height: 11px;
    background: url(../img/main_icon/Arrow\ 1.png) no-repeat center / contain;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.5s;
}

#sec1 .inner .button:hover {
    padding-right: 60px;
    background-color: #ffffff;
    color: var(--main_font-color);
}

#sec1 .inner .button:hover::after {
    opacity: 1;
}

/* sec2 */
#sec2,
#sec3,
#sec4 {
    min-height: 10vh;
}

#sec2 {
    color: var(--black_background_font-color);
    position: relative;
}


#sec2 .inner {
    position: relative;
    color: var(--black_background_font-color);
    z-index: 1;
}

#sec2 .sec2_text {
    position: absolute;
    top: -60vh;
    left: 40%;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;
}

#sec2 .sec2_text h1 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1
}

#sec2 .sec2_text h2 {
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 20px;
}

#sec2 .sec2_text dl dd:nth-of-type(2) {
    font-size: 2rem;
    font-weight: 200;
}

/* sec3 */

#sec3 {
    color: var(--black_background_font-color);
    position: relative;
}

.sec3_img,
.sec4_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.3);
    transform-origin: center center;
    pointer-events: none;
}

.sec3_img_wrap,
.sec4_img_wrap {
    width: 100%;
    height: 100vh;
    max-height: 1000px;
    overflow: hidden;
    position: relative;
}

#sec3 .inner .drum .sec_text,
#sec4 .inner .sowd .sec_text {
    position: absolute;
    text-align: end;
    font-size: 2rem;
    z-index: 1;
    top: 10vh;
}

#sec3 .inner .drum .sec_text2 {
    position: absolute;
    display: flex;
    align-items: end;
    z-index: 1;
    bottom: 12vh;
    max-width: 1720px;
    width: 100%;
}

#sec4 .inner .sowd .sec_text2 {
    position: absolute;
    display: flex;
    align-items: end;
    z-index: 1;
    bottom: 30vh;
    max-width: 1720px;
    width: 100%;
}

#sec3 .inner .drum .sec_text2 h2,
#sec4 .inner .sowd .sec_text2 h2 {
    font-size: 4rem;
    padding-bottom: 5px;
}

#sec3 .inner .drum .sec_text2 p,
#sec4 .inner .sowd .sec_text2 p {
    font-size: 1.8rem;
}

#sec3 .inner .button,
#sec4 .inner .button {
    position: absolute;
    z-index: 5;
    border: solid 1px #ffffff;
    color: var(--black_background_font-color);
    padding: 10px 30px;
    border-radius: 20px;
    right: 0;
    transition: all 0.5s;
}

#sec3 .inner .button::after,
#sec4 .inner .button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 22px;
    height: 11px;
    background: url(../img/main_icon/Arrow\ 1.png) no-repeat center / contain;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.5s;
}

#sec3 .inner .button:hover,
#sec4 .inner .button:hover {
    padding-right: 60px;
    background-color: #ffffff;
    color: var(--main_font-color);
}

#sec3 .inner .button:hover::after,
#sec4 .inner .button:hover::after {
    opacity: 1;
}

#sec4 {
    color: var(--black_background_font-color);
    height: 1080px;
    position: relative;
}

#footer {
    background: #000;
    color: var(--black_background_font-color);
}

#footer .inner {
    padding: 50px 0;
    text-align: center;

}


@media (max-width:1750px) {
    #header .inner .rghbar {
        padding-right: 30px;
    }
}

@media(max-width:1550px) {
    #header .inner .rghbar .scrl_bar .bg {
        top: 10vh
    }

    #sec1 .inner ul {
        top: 62vh
    }

    #sec1 .inner .button {
        top: 82vh;
    }

    #header .inner .rghbar .scrl_txt {
        transform: translateY(40vh)
    }
}


@media(max-width:1024px) {
    #sec1 .sec1_video {
        display: none;
    }

    #sec1 .sec1_img {
        display: block;
        position: fixed;
        max-width: 1100px;
        max-height: 100vh;
        padding: 0;
        z-index: 0;
    }

    #sec1 img {
        width: 100%;
        height: 100%;
        object-position: 20% center;
    }



}

@media (max-width:500px) {
    #sec1 .sec1_img {
        max-width: 600px;
        min-height: 830px;
    }

    #sec1 img {
        width: 100%;
        height: auto;
        object-position: -35vh center;
    }

    #sec1 .inner ul {
        top: 65vh
    }

    #sec1 .inner .button {
        top: 80vh;
    }

    #header .inner .rghbar .scrl_txt {
        transform: translateY(40vh)
    }

    #header .inner .rghbar .scrl_bar .bg {
        top: 8.5vh
    }

    #sec1 .inner ul li:nth-child(1) {
        font-size: 2rem;
    }

    #sec1 .inner ul li:nth-child(2) {
        font-size: 1.8rem;
    }


    @keyframes scr_anime {
        0% {
            height: 0;
            top: 8.5vh;
        }

        55% {
            height: 0;
            top: 8.5vh;
            animation-timing-function: ease-in;
        }

        75% {
            height: 100%;
            top: 8.5vh;
        }

        80% {
            height: 100%;
            top: 8.5vh;
        }

        100% {
            height: 0;
            ;
            top: 16.5vh;
            animation-timing-function: ease-out;
        }
    }

    #sec2 .sec2_text {
        left: 50%;
        transform: translateX(-50%);
    }

    #sec2 .sec2_text h1 {
        font-size: 3rem;
    }

    #sec2 .sec2_text h2 {
        font-size: 2.4rem;
    }

    #sec2 .sec2_text dl dd:nth-of-type(2) {
        font-size: 1.6rem;
    }

    #sec3 .sec_text2,
    #sec4 .sec_text2 {
        margin-bottom: 60px;
    }

    .sec3_img_wrap,
    .sec4_img_wrap {
        width: 600px;
        min-height: 800px;
        overflow: hidden;
        position: relative
    }

    .sec3_img_wrap img,
    .sec4_img_wrap img {
        width: 100%;
    }

    #sec3 .inner .drum .sec_text,
    #sec4 .inner .sowd .sec_text {
        top: 20vh
    }

    #sec3 .inner .drum .sec_text2 {
        bottom: 23vh;
        flex-direction: column;
        align-items: flex-start;
    }

    #sec3 .inner .drum .sec_text2 h2,
    #sec4 .inner .sowd .sec_text2 h2 {
        font-size: 3rem;
    }

    #sec3 .inner .drum .sec_text2 p,
    #sec4 .inner .sowd .sec_text2 p {
        font-size: 1.5rem;
    }

    #sec3 .inner .button,
    #sec4 .inner .button {
        left: 0;
        right: auto;
        bottom: -8vh;
        ;
    }
}