#sec1 {
    position: relative;
    padding-top: 50px;
}

#sec1 .inner {
    position: absolute;
    top: 50px;
    right: 7%;
    background: #fff;
    padding: 120px 100px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#sec1 .inner .map_box {
    position: relative;
    top: -7vh;
}

#sec1 .inner .text_top {
    text-align: center;
    padding-bottom: 20px;
}

#sec1 .inner::before {
    position: absolute;
    content: "";
    border-bottom: 1px dashed #02469E;
    width: 90%;
    height: 1px;
    right: 5%;
    top: 46%;

}

#sec1 .inner::after {
    position: absolute;
    content: "";
    border-bottom: 5px solid #F3F3F3;
    width: 100%;
    height: 1px;
    right: 0;
    top: 18%;
}


#sec1 .inner .text_top h1 {
    color: var(--point-color);
    padding-bottom: 5px;
}

#sec1 .inner .text_buttom dl:nth-of-type(1) {
    padding-top: 40px;
}

#sec1 .inner .text_buttom dl:nth-of-type(2) {
    margin-bottom: 40px;
}

#sec1 .inner .text_buttom dl {
    padding-bottom: 50px;
    position: relative;
}

#sec1 .inner .text_buttom dl dt {
    color: var(--point-color);
    font-weight: 500;
}

#sec1 .inner .text_buttom dl:nth-of-type(1)::after {
    content: "";
    background: url(../img/sub/sub1_map/icon1.png) no-repeat center center / cover;
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 35px;
    top: 4vh;
    left: -5vh;
    z-index: 2;
}

#sec1 .inner .text_buttom dl:nth-of-type(2)::after {
    content: "";
    background: url(../img/sub/sub1_map/icon2.png) no-repeat center center / cover;
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 35px;
    top: -0.5vh;
    left: -5vh;
    z-index: 2;
}

#sec1 .inner .text_buttom dl:nth-of-type(3)::after {
    content: "";
    background: url(../img/sub/sub1_map/icon3.png) no-repeat center center / cover;
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 35px;
    top: 0;
    left: -5vh;
    z-index: 2;
}

#sec1 .inner .text_buttom dl:nth-of-type(4)::after {
    content: "";
    background: url(../img/sub/sub1_map/icon4.png) no-repeat center center / cover;
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 35px;
    top: 0;
    left: -5vh;
    z-index: 2;
}

#sec2 .inner {
    margin-top: 30px;
}

#sec2 .inner p span {
    color: var(--point-color);
    font-weight: 500;
}



@media(max-width:1024px) {

    #sec1 .inner {
        right: 5%;
    }

    #sec2 .inner p {
        font-size: 1.3rem;
    }
}


@media(max-width:769px) {


    #sec1 .inner {
        position: relative;
        top: 0;
        right: 0;
        max-width: 769px;
        width: 100%;
        padding: 120px 20px 0;
    }

    #sec1 .inner .text_buttom {
        margin-left: 100px;

    }

    #footer .inner {
        font-size: 1.2rem;
        flex-wrap: wrap;
    }
}

@media(max-width:500px) {
    #sec2 .inner p {
        top: -152vh;
        font-size: 1.3rem;
    }
}


@media(max-width:480px) {


    #sec1 {
        padding-top: 20px;
    }

    #sec1 .inner .map_box {
        top: -10vh;
    }


    #sec1 .inner .text_buttom {
        padding-top: 50px;
    }

    #sec1 .inner .text_buttom dl {
        padding-bottom: 40px;
    }

    #sec1 .inner::before {
        top: 45vh;
    }

    #sec1 .inner .text_buttom dl:nth-of-type(1)::after,
    #sec1 .inner .text_buttom dl:nth-of-type(2)::after,
    #sec1 .inner .text_buttom dl:nth-of-type(3)::after,
    #sec1 .inner .text_buttom dl:nth-of-type(4)::after {
        left: -6vh;
    }


    #sec2 .inner p {
        top: -170vh;
        font-size: 1.3rem;
    }

    #sec {
        margin-top: 0;
    }

    #footer .inner {
        font-size: 1.2rem;
        flex-wrap: wrap;
        padding: 30px;
    }

}