#sec1 {
    padding-top: 100px;
    height: 100%;
}

#sec1 .inner h1,
#sec2 .inner h1 {
    color: var(--point-color);
}

#sec1 .inner img {
    padding-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}

#sec1 .inner .mb {
    display: none;
}

#sec2 {
    padding-top: 150px;
}

#sec2 .mem_box {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

#sec2 .mem_con {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

#sec2 .mem_con .con_box img {
    width: 350px;
    height: 414px;
    object-fit: cover;
    border-radius: 20px;
}

#sec2 .mem_con .con_text dl dt {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--point-color);
    padding-left: 10px;
    position: relative;
}

#sec2 .mem_con .con_text dl dt::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 25px;
    background: var(--point-color);
    top: 5px;
    left: 0;
}

#sec2 .mem_con .con_text dl dd {
    line-height: 2;
}

#sec3 {
    margin-top: 150px;
    background: url(../img/sub/sub2_Member/sec3_img.png) no-repeat;
    height: 900px;
    color: var(--black_background_font-color);
}

#sec3 .inner h1 {
    padding-top: 100px;
    color: #fff;
}

#sec3 .inner .total {
    text-align: center;
    line-height: 1.1;
    font-size: 2rem;
    font-weight: 400;
    padding-top: 100px;
}

#sec3 .inner .total p:nth-child(2) {
    font-size: 6rem;
    font-weight: 600;
}

#sec3 .inner .total p:nth-child(3) {
    padding-top: 5px;
}

#sec3 .inner .circle_wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
    font-size: 1.8rem;

}

#sec3 .inner .circle_wrap::before {
    content: "";
    position: absolute;
    border: 1px solid #fff;
    width: 100%;
    height: 160%;
    top: -1vh;
    border-radius: 50px;
    mask: radial-gradient(circle at center top, transparent 0 20px, black 20px 100%);
    -webkit-mask: radial-gradient(circle at center top, transparent 0 90px, black 20px 100%);
}

#sec3 .inner .circle_wrap>div {
    width: calc(100% /3);
}

#sec3 .inner .circle_wrap .circle {
    color: var(--point-color);
}

#sec3 .inner .circle_wrap .circle:nth-child(1),
#sec3 .inner .circle_wrap .circle:nth-child(2),
#sec3 .inner .circle_wrap .circle:nth-child(3) {
    position: relative;
    display: block;
    z-index: 5;
}

#sec3 .inner .circle_wrap .circle:nth-child(1)::before,
#sec3 .inner .circle_wrap .circle:nth-child(2)::before,
#sec3 .inner .circle_wrap .circle:nth-child(3)::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#sec3 .inner .circle_wrap .circle p:nth-child(2) {
    font-size: 3rem;
    font-weight: 600;
}

#footer {
    margin-top: 0px;
}



@media (max-width: 800px) {
    #sec1 {
        height: 1450px;
    }

    #sec1 .inner .ds {
        display: none;
    }

    #sec1 .inner .mb {
        display: block;
    }

    #sec1 .inner img {
        width: 70%;
    }

    #sec2 .mem_box {
        flex-direction: column;
        gap: 90px
    }

    #sec3 {
        height: 800px;
    }

    #sec3 .inner .total {
        padding-top: 100px;
    }

    #sec3 .inner .total p:nth-child(2) {
        font-size: 4rem;
    }

    #sec3 .inner h1 {
        padding-top: 60px;
    }

    #sec3 .inner .circle_wrap {
        font-size: 1.5rem;
    }

    #sec3 .inner .circle_wrap .circle p:nth-child(2) {
        font-size: 2rem;
    }


    #sec3 .inner .circle_wrap .circle:nth-child(1)::before,
    #sec3 .inner .circle_wrap .circle:nth-child(2)::before,
    #sec3 .inner .circle_wrap .circle:nth-child(3)::before {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 600px) {
    #sec1 {
        height: 900px;
    }

    #sec2 .mem_con .con_text dl dt {
        font-size: 2rem;
    }

    #sec2 .mem_con .con_text dl dt::before {
        height: 20px;
    }

    #sec2 .mem_con .con_text dl dd {
        font-size: 1.4rem;
    }

    #sec2 .mem_con {
        flex-direction: column;
        align-items: center;
    }

    #sec2 .mem_con .con_text dl {
        text-align: center;
    }

    #sec2 .mem_con .con_text dl dt::before {
        display: none;
    }

    #sec3 {
        margin-top: 100px;
        height: 1000px;
    }

    #sec3 .inner .total {
        padding-top: 50px;
    }

    #sec3 .inner .circle_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }

    #sec3 .inner .circle_wrap .circle {
        padding-bottom: 120px;
    }

    #sec3 .inner .circle_wrap::before {
        height: 100%;
    }

    #sec3 .inner .circle_wrap .circle:nth-child(1)::before,
    #sec3 .inner .circle_wrap .circle:nth-child(2)::before,
    #sec3 .inner .circle_wrap .circle:nth-child(3)::before {
        width: 180px;
        height: 180px;
        top: 20%;
    }
}